<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>b:hive browser</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/bower/json-diff/json-diff.js"></script>
        <script src="/bower/angular/angular.js"></script>
        <script src="/bower/angular-route/angular-route.js"></script>
        <script src="/static/js/app.js"></script>
        <link href="//s3.amazonaws.com/bv-bootstrap/v2.1.4/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <style>
            label {
                display: inline;
            }
            body {
                padding: 2em;
            }
        </style>
    </head>
    <body>
        <div ng-controller="ProjectController">
            <div>
                <label>project:<input type="text" ng-model="projectName" ng-change="browseProject(skip)"/></label>
                <label>pathLike:<input type="text" ng-model="pathLike" ng-change="browseProject(skip)"/></label>
                <label>skip:<input type="text" ng-model="skip" value="0" ng-change="browseProject(skip)"/></label>
                <label>maxResults:<input type="text" ng-model="maxResults" value="100" ng-change="browseProject(skip)"/></label>
                <ul>
                    <li ng-repeat="file in project.values">
                        <a href="#path={{file.path}}" ng-click="browseFile(file.path)">/{{file.path}}</a>
                    </li>
                </ul>
                <button ng-click="browseProject(skip-(maxResults || 100))" ng-disabled="!skip">Previous page</button>
                <button ng-click="browseProject(skip+(maxResults || 100))">Next page</button>
            </div>
            <div ng-hide="!path">
                <h5>{{path}}</h5>
                <ul>
                    <li ng-repeat="revision in file.values">
                        <a href="#path={{path}}&revision={{revision.version}}" ng-click="showRevision(revision)">{{revision.version}}</a>
                        <label>compare (a)<input type="radio" name="diff_a" ng-click="compare()" ng-model="$parent.diff_a" value="{{revision.version}}"></label>
                        <label>compare (b)<input type="radio" name="diff_b" ng-click="compare()" ng-model="$parent.diff_b" value="{{revision.version}}"></label>
                    </li>
                </ul>
                <pre ng-hide="!selectedRevisionContents">{{selectedRevisionContents}}</pre>
            </div>
            <div ng-hide="!(diff_a && diff_b)">
                <pre>{{revisionsDifference}}</pre>
                <button ng-click="updateDiff(1)" ng-disabled="revisionIndex(diff_a) === file.values.length-1 || revisionIndex(diff_b) === file.values.length-1">Previous diff</button>
                <button ng-click="updateDiff(-1)" ng-disabled="revisionIndex(diff_b) === 0 || revisionIndex(diff_a) === 0">Next diff</button>
            </div>
        </div>
    </body>

</html>
